<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!DOCTYPE html>
    <head>
     <title>NextPage: Recommendations</title>
      <style>
        * {
          box-sizing: border-box;
        }
        
        body{
          font-family: Arial, Helvetica, sans-serif;
          background: #CEF5CA;
        }
        #grad1 {
	        background: #CEF5CA;
	        background: -webkit-linear-gradient(to top, #a8e063, #CEF5CA);
	        background: linear-gradient(to top, #a8e063, #CEF5CA);
        }
        
        /* Float four columns side by side */
        .column{
          float: left;
          width: 25%;
          padding: 0 10px;
        }
        
        /* Remove extra left and right margins, due to padding */
        .row {margin: 0 -5px;}
        
        /* Clear floats after the columns */
        .row:after{
          content: "";
          display: table;
          clear: both;
        }
        
        /* Responsive columns */
        @media screen and (max-width: 600px) {
          .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
          }
        }
        
        /* Style the counter cards */
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          padding: 16px;
          text-align: center;
          background-color: #f1f1f1;
        }
        li {
          display: inline;
        }
        </style>
<!-- Abigail - Nav Bar and Genre selector-->
    </head>
    <body style="background-color:rgb(206, 245, 202);">
      <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="../resources/css/my_style.css" rel="stylesheet">
    </head>
    <body>
      <%- include('header'); -%>

    <div>
      <h1 style="text-align: center;">NextPage</h1>
      <h2 style="text-align: center;">Recommendations</h2>
    </div>
      <br>
    <div>
      <h3 style="text-align: center;">
        <u>
          Based on your ratings, these books might be your next read!
        </u>
      </h3>
      </div>
      
          
    
    <%- include('reviews_home'); -%>
    <form class="form" action = "/recommendations/genre" method="get" onsubmit="getGenre(this)">
      <label for = "books">Or choose a specific genre of book you would like:</label>
      <select class="custom-select"name = "books" onchange="this.form.submit()">
        <option selected>Select Genre</option>
        <%
        if (book_genre) {
          var options = '';
          book_genre.forEach(function(item){
            options += "<option value=" + item.id + ">" + item.category + "</option>"
          }); %>
        <%- options %>
        <% } %>
      </select>
    </form>
    


    <div class="table-responsive">
      <table class="table">
        <!-- TODO: Set Player Information
                              If a player has been selected, fill in their information in each of the fields below.
                                  You'll need to calculate here the player's average rushing, receiving, and passing yards.-->

        <tr>
          <th>Title</th>
          <td><% if(bookinfo){var title = bookinfo.title;} %><%- title %></td>
        </tr>
      </table>
    </div>


    <% if (bookinfo) {
      bookinfo.forEach(function(item){%>
        <div class='card'>
          <div class="card-body">
            <h5 class='card-title'>
                Title: <%- item.title %>
            </h5>
          </div>
        </div>
      <%})
    }%>



    </body>

    <script>
      function getgenre(selectedObject)
      {
        document.getElementById("form").action='/recommendations/' + selectedObject.value;
        document.getElementById("form").submit();
      }
    </script>

</html>
